
<div class="row main" style="margin-top: 50px;">

  <div class="col-md-2 col-md-offset-2">
    <div ng-show="user.loaded" style="margin-top:30px;">
      <img ng-src="{{ user.value.avatar_url }}" class="img-responsive hidden-xs hidden-sm" />
      <img ng-src="{{ user.value.avatar_url }}?s=200" class="visible-xs visible-sm" width="200px;"/>
      <h4 style="font-weight:400; margin:5px 0;">{{ user.value.name || user.value.login }}</h4>
      <h4 ng-show="user.value.name">{{ user.value.login }}</h4>
    </div>
  </div>

</div>
